.animated-gradient-background {
    background: linear-gradient(-45deg, hsl(222, 47%, 11%), hsl(210, 40%, 15%), hsl(199, 89%, 25%), hsl(222, 47%, 11%));
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
